.thumb-feed {
  h3 { margin-bottom: 0; }
  img {
    display: block;
    position: relative;
    top: 10px;
    border: 1px solid $lighter-gray;
  }

  p:last-child { margin-bottom: 0; }

  .meta {
    margin-bottom: $gutter;

    a { color: $gray; }
  }

  .thumb {
    margin-bottom: $gutter;

    &:last-child { margin-bottom: 0; }
  }
}